body {
  font-family: $fcDefault;
}

strong {
  font-weight: 700;
}

.button--primary {
  background: $primaryColor;
  color: #fff;
  padding: 15px;
  font-size: 16px;
}
.button--primary:hover {
  background: #fff;
  color: $primaryColor;
}

.homeContainer .homeWrapper .projectLogo {
  display: block;
  position: relative;
  top: 0;
  right: auto;
  left: auto;
  opacity: 1;
  padding: 0;
  height: 16em;
  margin-top: -4em;
  margin-bottom: -6em;
  margin-right: -3em;
  margin-left: -4.5em;
}
.homeContainer .homeWrapper .projectLogo img {
  height: 100%;
  max-height: 100%;
}
.homeContainer .homeWrapper {
  margin-bottom: 1em;
}

.projectTitle {
  margin: 0.5em auto 0.5em;
  max-width: 20ch;
}
.projectTitle small {
  margin: 0 1em;
}

.promoSection + .promoSection {
  margin-top: 2em;
}

.blockImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer .wrapper ol li,
.mainContainer .wrapper ul li {
  margin-bottom: 5px;
}

footer .sitemap {
  margin-bottom: 0;
}

footer .fcLogo {
  display: block;
  margin: 0 auto;
  opacity: 0.4;
  transition: opacity 0.15s ease-in-out;
  width: 340px;
}
footer .fcLogo:hover {
  opacity: 1;
}
footer a {
  color: #fff;
}

/** HP **/
#magento2 .blockContent ul {
  text-align: left;
}

#hp-tests .blockElement:last-child {
  padding: 0;
}

.fixedHeaderContainer header img {
  width: 50px;
  height: 50px;
}

.reactNavSearchWrapper input#search_input_react {
  padding: 0.5em;
  padding-left: 40px;
  background: rgba(0, 0, 0, 0.2);
}
.reactNavSearchWrapper input#search_input_react:focus,
.reactNavSearchWrapper input#search_input_react:active {
  background: rgba(0, 0, 0, 0.3);
}
.navSearchWrapper {
  top: 8px;
}
.navSearchWrapper::before {
  left: 15px;
}
.navSearchWrapper::after {
  left: 24px;
}
.navigationSlider .slidingNav ul li a {
  font-weight: bold;
}
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background: transparent;
}
.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a {
  background: $primaryColor;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 736px) {
  .navSearchWrapper {
    top: 0;
    padding-left: 0;
  }

  .navigationSlider .slidingNav ul li a,
  .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
  }
  .navigationSlider .slidingNav ul li a:focus,
  .navigationSlider .slidingNav ul li a:hover,
  .navigationSlider .slidingNav ul li.siteNavItemActive a {
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    text-decoration: underline;
  }
}
@media only screen and (min-width: 810px) {
  .navigationSlider .slidingNav ul li {
    margin-left: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .docsNavContainer {
    margin-top: 7em;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
