body {
  font-family: $fcDefault;
}

.button--primary {
  background: $primaryColor;
  color: #fff;
  padding: 15px;
  font-size: 16px;
}
.button--primary:hover {
  background: #fff;
  color: $primaryColor;
}

.projectLogo {
  opacity: 0.3;
}

#magento2 .blockContent ul {
  text-align: left;
}

footer .sitemap {
  margin-bottom: 0;
}

footer .fcLogo {
  display: block;
  margin: 0 auto;
  opacity: 0.4;
  transition: opacity 0.15s ease-in-out;
  width: 340px;
}
footer .fcLogo:hover {
  opacity: 1;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
