@import "./_common-pre.less";

// Indviduial color overrides for this variation go here.
@color-primary: #bb1f4e;
@color-text-highlight: #bb1f4e;
@color-warning: #fd7737;

@import "./_common-post.less";
